############################################################################
#### Cтандартный .htaccess для проектов студии Клондайк, версия 2.3     ####
############################################################################

php_value display_errors 0
php_value short_open_tag 1



DirectoryIndex index.php

IndexIgnore .htaccess

# запрет выдачи листинга
Options -Indexes

php_value max_input_vars 2000

php_value max_input_vars 2000
php_value max_execution_time 500
php_value max_input_time 500
php_value upload_max_filesize 100M
php_value post_max_size 30M

RewriteEngine On
   #  Директива включает редиректы.
RewriteBase / 
   # Без директивы (.*) = /$1 будет /var/wwww/site/web/$1  с директивой  = /$1
Options +FollowSymLinks
   # Разрешает переход по символическим ссылкам.

############################################################################
#### Перенаправляем протокол https на http                              ####
############################################################################
#RewriteCond %{HTTP} on
   # Проверяем наличие https в URL.
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI}
   # Перенаправляем протокол на http.

############################################################################
#### Перенаправляем протокол http на https                              ####
############################################################################
#RewriteEngine On
#RewriteCond %{HTTPS} =off 
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

    
    
    
############################################################################
#### Перенаправляем протокол https на http                              ####
############################################################################
#RewriteCond %{HTTPS} on
   # Проверяем наличие https в URL.
#RewriteRule ^.*$ http://%{SERVER_NAME}%{REQUEST_URI}
   # Перенаправляем протокол на http.


############################################################################
#### Выбор основного зеркала (или с www или без www)                    ####
############################################################################
   # 1. Редирект с www на без www. (раскоментировать директивы пункта 1)
#RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
   # Проверяем, содержит ли домен www (в начале URL).
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
   # Перенаправляем URL на домен без www.
####
   # 2. Редирект без www на www. (раскоментировать директивы пункта 2)
#RewriteCond %{HTTP_HOST} !^www\.(.*) [NC]
   # Проверяем, не содержит ли домен www (в начале URL).
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
   # Перенаправляем URL на домен c www.


# Виртуальный субдомены
#RewriteCond %{HTTP_HOST} ^(.*)\.xn--58-6kcaaa0edymkho3gl5i\.xn--p1ai
#RewriteRule ^(.*)$ http://xn--58-6kcaaa0edymkho3gl5i.xn--p1ai/subdomains/%1/$1 [L,NC,QSA]


############################################################################
#### Конец общей части, далее следует собственные директивы .htaccess   ####
############################################################################